 /* CSSSSSSSSSSS ICI  */




/* PAGE TEAM */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
color: #8d97ad;
padding-right: 15px;
-webkit-transition: 0.1s ease-in;
-o-transition: 0.1s ease-in;
transition: 0.1s ease-in;
}

.team4 ul li a:hover {
-webkit-transform: translate3d(0px, -5px, 0px);
transform: translate3d(0px, -5px, 0px);
color: #316ce8;
}

.row {
  display: flex;
    justify-content: center;
    align-items: center;
}


/* PAGE CONTACT */
.contact-us {
  padding: 70px 0px;
  background: #795548;
}
.section-title h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 5px solid #af8070;
  padding-bottom: 10px;
  display: inline-block;
}
.section-title p {
  color: #e8e8e8;
  margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
  background: #fafafa;
}
.contact-us textarea {
  min-height: 188px;
  max-width: 100%;
}
.contact-us .map {
  overflow: hidden;
  border-radius: 4px;
}

body {
  background-image: url('route.avif'); /* Chemin vers votre image */
  background-size: cover; /* Pour couvrir toute la zone de l'arrière-plan */
  background-position: center; /* Pour centrer l'image */
  background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}
